/* font-family: "Poppins", sans-serif; */

/* CUSTOM PROPERTIES / VARIABLES */

:root {
  /* FONTS */

  --font-family: "Poppins", sans-serif;
  --font-size: 16px;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* COLORS */
  --primary-color-gold: #FFB742;
  --primary-color-blue1: #393646;
  --primary-color-blue2: #4F4557;
  --primary-color-blue3: #6D5D6E;
  --primary-color-white: #FFFFFF;
}

/* GENERAL */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);

  background-color: var(--primary-color-blue2);

  color: var(--primary-color-white); /* white, #FFF, hsl(???) */
}

a {
  color: inherit;
  text-decoration: none;
}

/* UTILS */

.wrapper {
  width: min(100% - 3rem, 1440px);

  margin: 0 auto;
}

.hidden {
  display: none;
}

/* HEADER SECTION */

.header {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  margin-bottom: 2rem;
}

.header__logo {
  color: var(--primary-color-gold);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}

.header__menu {
  display: none;
}

@media (min-width: 768px) {
  .header__menu {
    display: flex;
    gap: 1.5rem; /* 1.5rem <> 24px <> 16px x 1.5 */
  }
}

.header__menu a {
  font-size: 1.125rem; /* 18rem <> 1.125rem */
  font-weight: var(--font-weight-semibold);
  text-transform: capitalize;
}

.header__menu .header__menu--active {
  color: var(--primary-color-gold);
  /* text-decoration: underline; */
  border-bottom: 2px solid var(--primary-color-gold);
}