/*
font-family: "Montserrat", sans-serif;
font-family: "Fraunces", serif;
*/

body {
  font-family: "Montserrat", sans-serif;

  font-size: 14px;

  background-color: hsl(30, 38%, 92%);

  /* border: 1px solid red; */

  height: 100vh;

  margin: 0;

  display: flex; /* Flexbox */

  justify-content: center; /* Alineamiento horizontal */
  align-items: center; /* Alineamiento vertical */
}

main {
  border: 1px solid red;

  width: 650px;
}